<html>
    <head>
        <!-- responsive view -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- fontAwesome -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <!-- css -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
  
    <!--End of the Headers-->
        <div id="content">
            <div class="container">
                <div class="row">
                        <div class="col-xs-12">
                            <ul class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>Checkout</li>
                            </ul>
                        </div>
                </div>
                <div class="row">
                    <div id="checkout" class="col-md-7">
                        <div class="panel">
                            <form name="checkout-form" class="form-horizontal">
                                <ul class="nav nav-pills nav-justified">
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <br>
                                        Address
                                    </li>
                                    <li>
                                        <i class="fa fa-truck"></i>
                                        <br>
                                        Delivery Method
                                    </li>
                                    <li>
                                        <i class="fa fa-money"></i>
                                        <br>Payment Method
                                    </li>
                                    <li>
                                        <i class="fa fa-eye"></i>
                                        <br>
                                        Order Review
                                    </li>
                                </ul>
                                <div class="panel-heading">
                                    <h3 class="panel-title">Enter Shipping Details</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-goup">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="pull-right">Phone</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input class="form-control" type="number" placeholder="Your Phone number" required> 
                                            </div>      
                                        </div>
                                        <br>
                                    </div>
                                    <div class="form-goup">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="pull-right">Name</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input class="form-control" type="text" placeholder="Your name here" required> 
                                            </div>      
                                        </div>
                                        <br>
                                    </div>
                                    <div class="form-goup">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="pull-right">Address</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <textarea name="address" class="form-control" type="number" placeholder="Address" type="" required></textarea> 
                                            </div>      
                                        </div>
                                        <br>
                                    </div>
                                    <div class="form-goup">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="pull-right">City</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input class="form-control" type="text" placeholder="City" required> 
                                            </div>      
                                        </div>
                                        <br>
                                    </div>
                                    <div class="form-goup">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="pull-right">State</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input class="form-control" type="text" placeholder="Your state" required> 
                                            </div>      
                                        </div>
                                        <br>
                                    </div>
                                    <div class="form-goup">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="pull-right">Zip</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input class="form-control" type="number" placeholder="zip code for delivery" required> 
                                            </div>      
                                        </div>
                                        <br>
                                    </div>
                                    <div class="form-goup">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="pull-right">Country</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <select class="form-control" type="number" required>
                                                    <option>Germany</option>
                                                    <option>India</option>
                                                    <option>United States</option>
                                                    <option selected>Egypt</option>
                                                </select>
                                            </div>      
                                        </div>
                                        <br>
                                    </div>
                                    <div class="form-goup">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="pull-right">Payment Method</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <select class="form-control" type="number" required>
                                                    <option>Visa</option>
                                                    <option>Paypal</option>
                                                    <option selected>Cash</option>
                                                </select>
                                            </div>      
                                        </div>
                                        <br>
                                    </div>
                                    <div class="form-goup">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label class="pull-right">Coupon</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input class="form-control" type="text" placeholder="Disount Coupon" required> 
                                            </div>      
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <div class="post-footer">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="pull0left">
                                            <a href="#" class="btn btn-default">
                                                <i class="fa  fa-chevron-left"></i>
                                                Back to basket
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-primary">Make Payment
                                            <i class="fa fa-chevron-right"></i>
                                            </button>
                                        </div>     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel" id="order-summary">
                            <div class="panel-heading">
                            <h3>Order Summary</h3>
                                
                            </div>
                            
                        
                            <div class="panel-body" ng-controller="checkoutController">
                                <p class="text-muted">Shipping and additional costs are calculated based on the total weight and selected country.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-muted">Total Items</td>
                                                <th >{{counter}}</th>
                                            </tr>
                                            <tr>
                                                <td class="text-muted">Shipping and handling</td>
                                                <td class="text-muted">Free Shipping</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Total</strong></td>
                                                <td>${{totalPrice}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
            
        </div>
    </body>
</html>