
    <div id="FormContainer" ng-controller="registerController">
        <div class="container">
            <div class="col-md-12">
                <div id="FormElement" class="jumbotron col-md-6 col-md-offset-3">
                    <h1>New Account</h1>
                    <h4>Not our Registered Customer yet?</h4>
                    <h3>With registration with us new world of fashion, fantastic discounts and much more opens to you! the whole process will not take you more than a minute!</h3>
                    <p>If you have any questions, please feel free to contact us, our customer service center is working for you 24/7.</p>

                    <div id="inputContainer">
                        <label>Username</label>
                        <input name="name" class="form-control" placeholder=" Your Name" ng-model="username" />
                        <br />
                        <label>Email</label>
                        <input name="name" type="email" class="form-control" placeholder=" Email ID" ng-model="email" />
                        <br />
                        <label>Password</label>
                        <input name="name" type="password" class="form-control" placeholder=" Password " ng-model="password" />
                        <br />

                        
                            <div id="ButtonContainer">
                                <button class="btn" id="Signup" ng-click="signupButton()"><span class="glyphicon glyphicon-user"></span> Sign up</button>
                                <button class="btn" id="Login" ng-click="loginButton()">Login</button>
                            </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>


