

    <!-- Form Starts-->

    <div id="FormContainer" ng-controller="loginController"> 
        <div class="container">
            <div class="col-md-12">
                <div  class="jumbotron col-md-6 col-md-offset-3" id="FormElement">
                    <h1>Login</h1>
                    <h3>Already our customer?</h3>
                    <p>Default account is <code>user@codenx.com</code> / <code>codenx</code> <br />
                       Admin account is <code>admin@codenx.com</code> /<code>codenx</code>
                    </p>

                    <div id="inputContainer">
                        <label>Username</label>
                        <input name="name" class="form-control" placeholder=" Your Username" ng-model="username" />
                        
                        <br />
                        <label>Password</label>
                        <input name="name" type="password" class="form-control" placeholder=" Password" ng-model="password"/>
                        <br />

                        
                            <div id="ButtonContainer">
                                <button class="btn" id="Signup" ng-click="signupButton()"><span class="glyphicon glyphicon-user"  ></span> Sign up</button>
                                <button class="btn" id="Login" ng-click="loginButton()">Login</button>
                            </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>


