<!DOCTYPE html>
<html>
<head>
    <title>Sign in Page</title>
    <link rel="stylesheet" type="text/css" href="app/assets/css/style.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
</head>

<body>

   <div id="HeaderOne">
        <div class="container">
            <div class="pull-left" id="HeaderOneLeft">
                <button class="btn btn-success btn-sm">OFFER OF THE DAY</button>
                <a>Get flat 35% off on orders over $50!</a>
            </div>
            <div class="pull-right" id="HeaderOneRight">
                <a href="sign-up.html">Sign up</a>
                <span> |</span>
                <a href="#/index/+login"> Login</a>
                <span> |</span>
                <a> Contact</a>
                <span> |</span>
                <a href="/index">Home</a>

            </div>
        </div>
    </div>


    <div id="HeaderTwo">
        <div class="container">
            <div class="col-md-12">
                <div class="pull-left" id="HeaderTwoLeft">
                    <a href="/index"><img src="app/logo.gif" /></a>
                    <ul id="DropDownHead">
                        <li>MEN <span class="caret"></span>
                            <ul class="container" id="DropDownElement">
                                <li><a>Casual Shirts</a></li>
                                <li><a>Casual Trousers</a></li>
                                <li><a>Winter Wear</a></li>
                                <li><a>Track Wear</a></li>
                                <li><a>Formal Shirts</a></li>
                                <li><a>Denims</a></li>
                            </ul>
                        </li>
                        <li>WOMEN <span class="caret"></span>
                            <ul class="container" id="DropDownElement">
                                <li><a>Trousers</a></li>
                                <li><a>Jeans</a></li>
                                <li><a>Skirts</a></li>
                                <li><a>Leggings & Jeggings</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>     
                <div class="pull-right" id="HeaderTwoRight">
                    <button class="btn pull-right"><span class="glyphicon glyphicon-shopping-cart "></span> Cart ({{counter}}) - ${{price}}</button>
                    <button  class="btn pull-right" ng-click="SearchContainer = !SearchContainer" ><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Search template -->
    <div class="col-md-12">
    <div class="col-md-6 col-md-offset-3" >    
    <div id="SearchContainer" class="text-center" ng-show="SearchContainer" >
    <input type="text" name="search" class="form-control" id="SearchInput" placeholder="search products">
    <button class="btn" ><span class="glyphicon glyphicon-search"></span></button> 
    </div>
    </div>
    </div>
    <!-- End of Search template-->
    <!--End of the Headers-->

    <!-- Form Starts-->

    <div id="FormContainer" ng-controller="loginController"> 
        <div class="container">
            <div class="col-md-12">
                <div  class="jumbotron col-md-6 col-md-offset-3" id="FormElement">
                    <h1>Login</h1>
                    <h3>Already our customer?</h3>
                    <p>Default account is <code>user@codenx.com</code> / <code>codenx</code> <br />
                       Admin account is <code>admin@codenx.com</code> /<code>codenx</code>
                    </p>

                    <div id="inputContainer">
                        <label>Username</label>
                        <input name="name" class="form-control" placeholder=" Your Username" ng-model="username" />
                        
                        <br />
                        <label>Password</label>
                        <input name="name" type="password" class="form-control" placeholder=" Password" ng-model="password"/>
                        <br />

                        
                            <div id="ButtonContainer">
                                <button class="btn" id="Signup"><span class="glyphicon glyphicon-user" ng-click="SignupButton()" ></span> Sign up</button>
                                <button class="btn" id="Login" ng-click="loginButton()">Login</button>
                            </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--Footer-->
    <div id="Footer">
        <div class="container">
            <div class="col-md-3">
                <h4>Pages</h4>
                <ul class="FooterUL">
                    <li><a>About us</a></li>
                    <li><a>Terms and conditions</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Contact us</a></li>
                </ul>
                <hr />
                <h4>User section</h4>
                <ul class="FooterUL">
                    <li><a>Login</a></li>
                    <li><a>Sign up</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Top Categories</h4>
                <h5>Men</h5>
                <ul class="FooterUL">
                    <li><a>T-shirts</a></li>
                    <li><a>Shirts</a></li>
                    <li><a>Accessories</a></li>
                </ul>
                <br />
                <h5>Ladies</h5>
                <ul class="FooterUL">
                    <li><a>T-shirts</a></li>
                    <li><a>Skirts</a></li>
                    <li><a>Pants</a></li>
                    <li><a>Accessories</a></li>
                </ul>
            </div>
            <div id="ContactUs" class="col-md-3">
                <h4>Where to find us</h4>
                <p>
                    <strong>Al-Shorouk Academy</strong>
                    <br />
                    Cairo, Ismalia Road
                    <br />
                    Cairo
                    <br />
                    Egypt
                </p>
                <br />
                <a>Go to contact page</a>
            </div>
            <div class="col-md-3">
                <h4>Get the news</h4>
                <h5>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</h5>
                <form class="form-inline">
                    <input type="text" class="form-control" id="InputForm" />
                    <button class="btn btn-default" id="ButtonForm">Subscribe</button>


                </form>
                <hr />
                <h4 id="StayIN">Stay in touch</h4>
                <p>
                    <a><i class="stay-touch fa fa-facebook" aria-hidden="true"></i></a>
                    <a><i class="stay-touch fa fa-twitter" aria-hidden="true"></i></a>
                    <a><i class="stay-touch fa fa-envelope" aria-hidden="true"></i></a>
                    <a><i class="stay-touch fa fa-google-plus" aria-hidden="true"></i></a>


                </p>
            </div>


        </div>
    </div>
    <div id="LastFooter">
        <div class="container">
            <div class="col-md-12">
               
                    <p>
                        Developed by <a> Kreza </a> Team
                    </p>
                
            </div>

        </div>

    </div>








</body>

</html>