 <div id="HeaderOne">
            <div class="container">
                    <div class="col-md-6" id="HeaderOneLeft">
                        <button class="btn btn-success btn-sm">OFFER OF THE DAY</button>
                        <a>Get flat 35% off on orders over $50!</a>
                    </div>
                    <div class="col-md-6" id="HeaderOneRight">
                        <a href="sign-up.html">Sign up</a>
                        <span> |</span>
                        <a href="sign-in.html"> Login</a>
                        <span> |</span>
                        <a> Contact</a>
                        <span> |</span>
                        <a href="index.html"> Home</a>
                    </div>
            </div>
        </div>
 

    <div id="HeaderTwo">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-6" id="HeaderTwoLeft">
                    <a href="/index"><img src="app/logo.gif" /></a>
                    <ul id="DropDownHead">
                        <li>MEN <span class="caret"></span>
                            <ul id="DropDownElement">
                                <li><a>Casual Shirts</a></li>
                                <li><a>Casual Trousers</a></li>
                                <li><a>Winter Wear</a></li>
                                <li><a>Track Wear</a></li>
                                <li><a>Formal Shirts</a></li>
                                <li><a>Denims</a></li>
                            </ul>
                        </li>
                        <li>WOMEN <span class="caret"></span>
                            <ul id="DropDownElement">
                                <li><a>Trousers</a></li>
                                <li><a>Jeans</a></li>
                                <li><a>Skirts</a></li>
                                <li><a>Leggings & Jeggings</a></li>
                            </ul>-
                        </li>
                    </ul>
                </div>
                <div class="col-md-6" id="HeaderTwoRight">
                    <button class="btn"><span class="glyphicon glyphicon-shopping-cart"></span> Cart (0) - $0.00</button>
                    <button class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
    </div>
    <!--End of the Headers-->
        <div id="content">
            <div class="container">
                <div class="row">
                        <div class="col-md-12">
                            <ol class="text-center breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index.html">All Categories</a></li>
                                <li>Casual Trousers</li> <!-- shoult be the category name -->
                            </ol>
                        </div>
                </div>
                <div class="row">
                    <div id="categories" class="col-md-3 sidebar-menu">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Categories</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked categories">
                                    <li><a href="index.html">MEN
                                        <span class="badge pull-right">42</span>
                                        </a>
                                        <ul class="nav sub-categories nav-stacked"> 
                                        <li><a href="index.html">Casual shirts</a></li>
                                        <li><a href="index.html">Winter Wear</a></li>
                                        <li><a href="index.html">Formal Shirts</a></li>
                                        <li><a href="index.html">Denims</a></li>
                                        <li><a href="index.html">Casual Trousers</a></li>
                                        <li><a href="index.html">Shorts &amp; 3/4ths</a></li>
                                        <li><a href="index.html">Suits &amp; Blazers</a></li>
                                        <li><a href="index.html">Track Wear</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            WOMEN
                                            <span class="badge pull-right">42</span>
                                        </a>
                                        <ul class="nav nav-pills sub-categories nav-stacked">
                                             <li><a href="index.html">Dresses</a></li>
                                             <li><a href="index.html">Tops</a></li>
                                             <li><a href="index.html">Tees</a></li>
                                             <li><a href="index.html">Shirts</a></li>
                                             <li><a href="index.html">Tunics</a></li>
                                             <li><a href="index.html">Trousers</a></li>
                                             <li><a href="index.html">Jeans</a></li>
                                             <li><a href="index.html">Skirts</a></li>
                                             <li><a href="index.html">Leggings &amp; Jeggings</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6" ng-controller="viewController">
                                <div class="product-image">
                                    <img class="img-responsive" ng-src="{{getImagePath(container[getId].imageName)}}">
                                </div>
                                <div class="ribbon"><div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div></div>
                                <div class="ribbon"><div class="new-ribbon">NEW</div>
                                <div class="ribbon-background"></div></div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel">
                                    <h1 class="text-center">
                                      {{container[getId].name}}
                                    </h1>
                                    <div class="price text-center">
                                       Price:${{container[getId].price}}
                                    </div>
                                    <div class="cart-detail text-center">
                                    <div class="btn-group">
                                            <a class="btn btn-default">View detail</a>
                                            <a class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                        
                </div>
            </div>
        </div>
        
         <!--Footer-->
    <div id="Footer">
        <div class="container">
            <div class="col-md-3">
                <h4>Pages</h4>
                <ul class="FooterUL">
                    <li><a>About us</a></li>
                    <li><a>Terms and conditions</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Contact us</a></li>
                </ul>
                <hr />
                <h4>User section</h4>
                <ul class="FooterUL">
                    <li><a>Login</a></li>
                    <li><a>Sign up</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Top Categories</h4>
                <h5>Men</h5>
                <ul class="FooterUL">
                    <li><a>T-shirts</a></li>
                    <li><a>Shirts</a></li>
                    <li><a>Accessories</a></li>
                </ul>
                <br />
                <h5>Ladies</h5>
                <ul class="FooterUL">
                    <li><a>T-shirts</a></li>
                    <li><a>Skirts</a></li>
                    <li><a>Pants</a></li>
                    <li><a>Accessories</a></li>
                </ul>
            </div>
            <div id="ContactUs" class="col-md-3">
                <h4>Where to find us</h4>
                <p>
                    <strong>Al-Shorouk Academy</strong>
                    <br />
                    Cairo, Ismalia Road
                    <br />
                    Cairo
                    <br />
                    Egypt
                </p>
                <br />
                <a>Go to contact page</a>
            </div>
            <div class="col-md-3">
                <h4>Get the news</h4>
                <h5>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</h5>
                <form class="form-inline">
                    <input type="text" class="form-control" id="InputForm" />
                    <button class="btn btn-default" id="ButtonForm">Subscribe</button>


                </form>
                <hr />
                <h4 id="StayIN">Stay in touch</h4>
                <p>
                    <a><i class="stay-touch fa fa-facebook" aria-hidden="true"></i></a>
                    <a><i class="stay-touch fa fa-twitter" aria-hidden="true"></i></a>
                    <a><i class="stay-touch fa fa-envelope" aria-hidden="true"></i></a>
                    <a><i class="stay-touch fa fa-google-plus" aria-hidden="true"></i></a>


                </p>
            </div>


        </div>
    </div>
    <div id="LastFooter">
        <div class="container">
            <div class="col-md-12">
               
                    <p>
                        Developed by <a> Kreza </a> Team
                    </p>
                
            </div>

        </div>

    </div>