<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="text-center breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html">All Categories</a></li>
					<li>Casual Trousers</li>
					<!-- shoult be the category name -->
				</ol>
			</div>
		</div>
		<div class="row">
			<div id="categories" class="col-md-3 sidebar-menu">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Categories</h3> </div>
					<div class="panel-body">
						<ul class="nav nav-pills nav-stacked categories">
							<li><a href="index.html">MEN
                                        <span class="badge pull-right">42</span>
                                        </a>
								<ul class="nav sub-categories nav-stacked">
									<li><a href="index.html">Casual shirts</a></li>
									<li><a href="index.html">Winter Wear</a></li>
									<li><a href="index.html">Formal Shirts</a></li>
									<li><a href="index.html">Denims</a></li>
									<li><a href="index.html">Casual Trousers</a></li>
									<li><a href="index.html">Shorts &amp; 3/4ths</a></li>
									<li><a href="index.html">Suits &amp; Blazers</a></li>
									<li><a href="index.html">Track Wear</a></li>
								</ul>
							</li>
							<li> <a href="index.html">
                                            WOMEN
                                            <span class="badge pull-right">42</span>
                                        </a>
								<ul class="nav nav-pills sub-categories nav-stacked">
									<li><a href="index.html">Dresses</a></li>
									<li><a href="index.html">Tops</a></li>
									<li><a href="index.html">Tees</a></li>
									<li><a href="index.html">Shirts</a></li>
									<li><a href="index.html">Tunics</a></li>
									<li><a href="index.html">Trousers</a></li>
									<li><a href="index.html">Jeans</a></li>
									<li><a href="index.html">Skirts</a></li>
									<li><a href="index.html">Leggings &amp; Jeggings</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row"  ng-controller="viewController">
					<div class="col-md-6">
						<div class="product-image"> <img class="img-responsive" ng-src="{{getImagePath(container[getId].imageName)}}"> </div>
						<div class="ribbon">
							<div class="theribbon">SALE</div>
							<div class="ribbon-background"></div>
						</div>
						<div class="ribbon">
							<div class="new-ribbon">NEW</div>
							<div class="ribbon-background"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel">
							<h1 class="text-center">
                                      {{container[getId].name}}
                                    </h1>
							<div class="price text-center"> Price:${{container[getId].price}} </div>
							<div class="cart-detail text-center">
								<div class="btn-group"> <a class="btn btn-default">View detail</a> <a class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a> </div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel description">
						<div id="details">
							<h4>Product details</h4>
							<p>Complete your formal attire by wearing these grey coloured formal trousers from Arrow. Made from poly viscose, these trousers can be worn with complete ease and comfort. Featuring a smooth finish and flat front, these trousers with cross pockets at the sides can be clubbed with a modish formal shirt for a perfect look. </p>
						</div>
						<br>
						<div id="brand">
							<h4>Brand</h4>
							<ul>
								<li><a>Alleviater</a></li>
							</ul>
						</div>
						<br>
						<div id="category">
							<h4>Category</h4>
							<ul>
								<li><a>Casual Trousers</a></li>
							</ul>
						</div>
						<br>
						<div id="weight">
							<h4>Weight</h4>
							<ul>
								<li>130</li>
							</ul>
						</div>
						<br>
						<div id="features">
							<h4>Features</h4>
							<ul>
								<li>Fabric : Blended</li>
								<li>Fit : Slim</li>
								<li>Color : Blue</li>
								<li>Neck : White</li>
								<li>Fit : Red</li>
							</ul>
						</div>
						<blockquote>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps. </blockquote>
						<hr>
						<h4 id="StayIN">Show it ti your friends</h4>
						<p> <a href="www.facebook.com"><i class="blue fa fa-facebook" aria-hidden="true"></i></a> <a href="www.twitter.com"><i class="sky fa fa-twitter" aria-hidden="true"></i></a> <a href="envelopes.com"><i class="green fa fa-envelope" aria-hidden="true"></i></a> <a href="gmail.com"><i class="red fa fa-google-plus" aria-hidden="true"></i></a> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>